.hero-inner3 {

    background-image: url("/tiassicuro_website/static/src/img/bg3.jpg");
    background-repeat: no-repeat;
    background-position: top center;;
    background-size: cover;
    color: #ffffff;

}

.inner-wrap4::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    z-index: 2;
    background: linear-gradient(90deg, #0a0a0a 0%, rgba(10, 10, 10, 0.6) 100%);
    opacity: 0.8;
}

.img-ticino {
    min-height: 458px;
}

@media (min-width: 992px) {

    .wrapper-section {
        display: grid !important;
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }

    .img-ticino {
        min-height: 548px;
    }

}

.hero6 {
    background-image: url("/tiassicuro_website/static/src/img/assicurazione-ticino.jpg");
    background-repeat: no-repeat;
    background-position: top center;;
    background-size: cover;
    color: #ffffff;
}

.inner-wrap3::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    z-index: 2;
    background: rgba(0, 0, 0, 0.89) linear-gradient(45deg, #ffffff 0%, rgba(255, 255, 255, 0.48) 100%);
    opacity: 0.5;
}


