.hero-cassa-malati-inner {
    position: relative; /* Necesario para posicionar el pseudo-elemento */
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, transparent 25%, #151519 100%), url("/tiassicuro_website/static/src/img/cassa-malati-svizzera.jpg");
    color: #ffffff;
    background-position: top center;
    background-size: cover;
}

.hero-cassa-malati-inner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta el último valor (0.3) para más/menos opacidad */
    z-index: 0;
}

/* Si el texto está dentro de este elemento, asegúrate que tenga posición relativa */
.hero-cassa-malati-inner > * {
    position: relative;
    z-index: 1;
}


.card-grid-section {
    display: flex;
    flex-direction: column;
}


@media (min-width: 992px) {

    .card-grid-section {
        display: grid;
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }

    .wpb_wrapper1 {
        width: 50%;
    }

    .wpb_wrapper2 {
        width: 80%;
    }
}

.hero5-cassa {
    background-image: url("/tiassicuro_website/static/src/img/cassa-malati-ticino.jpg");
    background-repeat: no-repeat;
    background-position: top center;;
    background-size: cover;
    color: #ffffff;
}

.inner-wrap1:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.89);
    opacity: 0.5;
}