@media only screen and (max-width: 690px) {
  body .row .col.section-title h1, body h1 {
    font-size: 35.1px;
    line-height: 39px;
  }
}

@media only screen and (max-width: 690px) {
  .col h2, h2 {
    font-size: 25.5px;
    line-height: 31.5px;
  }
}

@media only screen and (max-width: 690px) {
  .row .span_2 h3, .row .span_3 h3, .row .span_4 h3, .row .vc_col-sm-2 h3, .row .vc_col-sm-3 h3, .row .vc_col-sm-4 h3, .row .col h3, body h3 {
    font-size: 17.6px;
    line-height: 25.6px;
  }
}

@media only screen and (max-width: 690px) {
  .row .col h4, body h4 {
    font-size: 16.2px;
    line-height: 25.2px;
  }
}

h2 {
  font-size: 34px;
  line-height: 44px;
  margin-bottom: 7px;
}