.iub_content1 a {
    color: #ea1d28;
}


.iub_content1 {
    padding-top: 50px;
    margin-bottom: 25px;
}

@media only screen and (min-width: 992px) {
    .iub_content1 {
        padding-right: 90px;
        padding-left: 90px;
    }
}