.hero-inner4 {
    background-repeat: no-repeat;
    background-image: url("/tiassicuro_website/static/src/img/happy-woman-relaxing-at-home.jpg");
    color: #ffffff;
    background-position: top center;
    background-size: cover;
    position: relative;
}