.hero-inner1 {

    background-image: url("/tiassicuro_website/static/src/img/terzo-pilastro-svizzera-ticino.jpg");
    background-repeat: no-repeat;
    background-position: top center;;
    background-size: cover;
    color: #ffffff;

}

.inner-wrap2::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    z-index: 2;
    background: linear-gradient(90deg, #0a0a0a 0%, rgba(10, 10, 10, 0.6) 100%);
    opacity: 0.8;
}

.card-grid-wrapper::before {
    background-color: #3a3a3a;
    opacity: 1;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: ' ';
    display: block;
}


.hero-inner2 {

    background-image: url("/tiassicuro_website/static/src/img/terzo-pilastro-svizzera.jpg");
    background-repeat: no-repeat;
    background-position: top center;;
    background-size: cover;
    color: #ffffff;

}

.inner-wrap3::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    z-index: 2;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.89) 0%, rgba(10, 10, 10, 0.52) 100%);
    opacity: 0.8;
}


@media (min-width: 992px) {

    .hero-inner2 {
        display: grid;
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
}
